.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  box-sizing: border-box;
}
.footer__text {
  color: #ffffff;
  font-family: Inter;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
}

@media (max-width: 768px) {
  .footer {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 320px) {
  .footer {
    max-width: 100%;
    width: 100%;
  }

  .footer__text {
    max-width: 70%;
    padding: 16px;
    font-size: 14px;
  }
}
