.lead {
  max-width: 1280px;
  margin: 0 auto;
  padding: 56px 0 46px;
  max-width: 984px;
}

.lead__title {
  font-family: inter;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 auto;
  max-width: 73.17%;
  color: #ffffff;
}

.lead__subtitle {
  font-family: inter;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding: 0 280px;
  max-width: 720px;
  color: #ffffff;
}

.lead__image {
  filter: grayscale(1);
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}
