.lead {
  margin: 0 auto;
  padding: 56px 0 46px;
  max-width: min(984px, 90%);
  box-sizing: border-box;
}

.lead__title {
  font-family: inter;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.041;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 auto;
  max-width: 73.17%;
  color: #ffffff;
}

.lead__subtitle {
  font-family: inter;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  padding: 0 280px;
  max-width: 720px;
  color: #ffffff;
}

.lead__image {
  filter: grayscale(1);
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 768px) {
  .lead {
    width: 94%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .lead__subtitle {
    width: 94%;
    padding: 0 20px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 32px;
    line-height: 1.09;
  }

  .lead__subtitle {
    font-size: 16px;
  }

  .lead__image {
    max-width: 100%;
  }
}
