.places {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title website"
    "image description"
    "button description";
  gap: 40px;
  color: #ffffff;
  font-size: 18px;
}

.place__title {
  font-size: 72px;
  grid-area: title;
}

.place__website {
  grid-area: website;
}

.place__url-heading {
  font-size: 12px;
}

.place__image {
  width: 29rem;
  height: 29rem;
  grid-area: image;
}

.place__description {
  grid-area: description;
}

.place__button {
  grid-area: button;
}
