.places {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.place {
  font-family: inter;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title website"
    "image description"
    "button description";
  gap: 40px;
  color: #ffffff;
  font-size: 18px;
  max-width: 75%;
  margin: auto;
}

.place__title {
  font-size: 72px;
  grid-area: title;
  align-self: end;
  margin: 0;
}

.place__website {
  grid-area: website;
  align-self: end;
}

.place__url-heading {
  font-size: 12px;
}

.place__image {
  width: 29rem;
  height: 29rem;
  grid-area: image;
  object-fit: cover;
}

.place__description {
  grid-area: description;
}

.place__button {
  grid-area: button;
  align-self: start;
  background-image: linear-gradient(#0278fe, #003a7b);
  color: #ffffff;
  width: 16rem;
  height: 3rem;
}
