.places {
  display: flex;
  flex-direction: column;
  gap: 90px;
}

@media (max-width: 320px) {
  body {
    margin: 0;
    padding: 0;
  }

  .places {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
    width: 100%;
  }
}
