/* Estilos base para desktop (1280px) */
.page {
  width: 1280px;
  height: 2008px;
  background-color: #2a2c2f;
}

.header {
  padding: 40px 80px;
  display: flex;
}

.lead {
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 30px 40px;
  }

  .lead {
    max-width: 768px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    padding: 20px 16px;
    flex-direction: column;
  }

  .lead {
    max-width: 320px;
  }
}
